.body {
    background-color: #ADEED9;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.headerText {
    color: #222831;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.interHeader {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.nunitoSansBody {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

.captionInput {
    margin-top: 2rem;
    width: 100%;
}